
    <main class="main-header_body">
        <h1>Product List</h1>
       <p>
  {{#if prods}}
    Existing Products:
    <ul>
      {{#each prods}}
        <h3>
            <img src="https://media.istockphoto.com/id/2060984408/photo/stack-of-colorful-books-education-background-back-to-school-book-hardback-colorful-books-on.jpg?s=612x612&w=0&k=20&c=S-a-AjcVaONddGxfcfbNckme8H7ujSllz-MjgmcKrVQ=" alt="{{this.title}}">
            <p>{{this.title}}</p></h3>
            <p>Price: $19.99</p>
            <p>Description: A book about {{this.title}}</p>
      {{/each}}
    </ul>
  {{else}}
    No products available.
  {{/if}}
    </p>
    </main>