    .product-form {
        display: flex;
        flex-direction: column;
        width: 20rem;
        max-width: 80%;
        margin: 2rem auto;
        padding: 1rem 2rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .product-form button {
        padding: 0.5rem;
        font: inherit;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }  
    .product-form button:hover,.product-form button:active {
        background-color: #929b16;
        color: white;
    }  
    .product-form label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }    
    .product-form input {
        width: 100%;
        padding: 0.5rem;
        font: inherit;
        border: 1px solid #ccc;
        border-radius: 4px;
    }       